@model Mobius.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Sua Reputação @using Mobius.Extensions{ @User.Identity.GetRating() }</h4>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">

        @*Inserting a link to manage products...*@
        @if (User.Identity.Name == "admin@s2b.br")
        {
            // Admin buttons...
            <dt>Checar produtos para doação:</dt>
            <dd>@Html.ActionLink("Checar Produtos", "CheckExpirationDate", "Product", null, new { @class = "btn btn-primary btn-sm" })</dd>

            <hr />

            <dt>Estatísticas:</dt>
            <dd>//TESTE</dd>

            <hr />

            <dt>Visualizar vendedores:</dt>
            <dd>//TESTE</dd>

            <hr />

            <dt>Logs:</dt>
            <dd>@Html.ActionLink("Visualizar", "Relatorios", "Product", null, new { @class = "btn btn-primary btn-sm" })</dd>

            <hr />

            <dt>Criar Categoria:</dt>
            <dd>//TESTE</dd>
       
        }
        <hr />
        @*User Buttons...*@
        <dt>Criar Produto:</dt>
        <dd>@Html.ActionLink("Novo Produto", "Create", "Product", null, new { @class = "btn btn-success btn-sm" })</dd>

        <hr />

        <dt>Visualizar seus Produtos:</dt>
        <dd>@Html.ActionLink("Visualizar", "Browse", "Product", null, new { @class = "btn btn-primary btn-sm" })</dd>

        <hr />

        <dt>Visualizar suas compras</dt>
        <dd>@Html.ActionLink("Visualizar", "Negotiations", "Product", null, new { @class = "btn btn-primary btn-sm" })</dd>

        <hr />

        <dt>Visualizar Perguntas/Respostas</dt>
        <dd>@Html.ActionLink("Visualizar", "Index", "Comment", null, new { @class = "btn btn-primary btn-sm" })</dd>

        <hr />

        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
        </dd>
    </dl>
</div>
